.example {
  color: #666;
  font-style: italic;
}
tr th {
  margin: 0;
  padding: 0;
}
td {
  margin: 0;
  padding: 0;
}
.add-border {
  border: 1px solid #666;
}

tr th {
  padding: 10px;
  font-size: 20px;
}
.next-name {
  border-bottom: solid 1px #CCC;
  margin: 0;
  padding: 15px;
}
h2 {
  color: #09F;
}
.absent {
  color: rgb(255, 0, 128);
  font-weight: bold;
}
.present {
  color: #333;
  font-weight: bold;
}
.date {
  color: #09F;
  font-weight: bold;
  margin-top: 20px;
}
.face {
  margin: 0 auto;
}
.list {
  margin: 5px auto;
  width: 100%;
}
.my-table {
  /* background: url('../../assets/images/back2.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #ffd5df;
  padding: 20px;
}
.search-form {
  margin: 30px auto;
  background-color: blanchedalmond;
}
.title-back {
  background-color: cornsilk;
}
.table-bordered {
  border: 2px solid #333;
}
.list-title {
  color: rgb(102, 0, 8);
  font-weight: bold;
}
