.example {
  color: #666;
  font-style: italic;
}
tr th {
  margin: 0;
  padding: 0;
}
td {
  margin: 0;
  padding: 0;
}
.add-border {
  border: 1px solid #666;
}

tr th {
  padding: 10px;
  font-size: 20px;
}
.next-name {
  border-bottom: solid 1px #CCC;
  margin: 0;
  padding: 15px;
}
h2 {
  color: #09F;
}
.absent {
  color: red;
}
.date {
  color: #09F;
  font-weight: bold;
  margin-top: 70px;
}
.face {
  margin: 0 auto;
}
.list {
  margin: 5px auto;
}
.my-table {
  background-color: beige;
  padding: 20px;
}
.search-form {
  margin: 30px auto;
  background-color: blanchedalmond;
}
.title-back {
  background-color: cornsilk;
}
